body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* :root {
  --shadow: 0 0 5px rgba(0, 0, 0, .5);
  --hover-bg: #000;
  --hover-text-color: #fff;
  --bg: #fff;
  --text: #000;
} */

.light-mode {
  --shadow: 0 0 5px rgba(0, 0, 0, .5);
  --hover-bg: #000;
  --hover-text-color: #fff;
  --bg: #fff;
  --text: #000;
}

.dark-mode {
  --shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  --hover-bg: #fff;
  --hover-text-color: #000;
  --bg: #000;
  --text: #fff;
}

.container {
  background-color: var(--bg);
  height: 100vh;
  display: grid;
  place-content: center;
}



main {
  width: 300px;
  margin: 0 auto;
  //margin-top: 20vh;
 padding: 2em;
 border-radius: 5px;
 background-color: var(--bg);
 box-shadow: var(--shadow);
}