li {
  margin-top: 1rem;
  padding: .5em;
  width: 100%;
  border-radius: 5px;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  color: var(--text);
  background-color: var(--bg);
}

.bin {
  cursor: pointer;
  color: var(--text);
}

.bin:hover {
  color: red;
}

li:hover {
  background-color: var(--hover-bg);
  color:var(--hover-text-color);
}

li:hover .bin {
  color: var(--hover-text-color);
}